html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#map {
    height: 100%;
    position: relative;
}

#logo {
    position: fixed;
    bottom: 2%;
    left: 2%;
}

#img-logo {
    width: 240px;
}

#track-checkbox {
    position: fixed;
    bottom: 10%;
    left: 2%;
}

.sat {
    width: 200px;
    font-size: large;
}