#map {
    height: 100%;
    position: absolute;
}

#logo {
    position: relative;
    padding-top: 46%;
    padding-left: 2%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.sat {
    width: 200px;
    font-size: large;
}